* {
    background-color: seagreen;
}

.navbar {
    box:
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items:
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.img1 {
    height: 400px;
    width: 350px;
    display: block;
}

.p1 {
    width: 450px;
    height: 250px;
    border: 5px solid black;
    padding: 2px;
    margin: auto;
    margin-top: 50px;
    font-size: 25px;
}